<!-- HEADER -->
<header class="nav-container">
  <h1 class="nav-title">voronkov</h1>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">features</li>
      <li class="nav-item">about</li>
      <li class="nav-item">works</li>
      <li class="nav-item">price</li>
    </ul>
  </nav>
  <button class="nav-btn">
    lets start
    <img
      class="nav-img"
      src="../assets/images/arrow-up-right.svg"
      alt="arrow"
    />
  </button>
</header>
<!-- MAIN -->

<main>
  <!-- SECTION ILLUST-BRAND -->
  <section class="illus-brand">
    <div class="illus-brand-container">
      <h2 class="illus-brand-title">
        Unique <span class="illus-brand-title-white">Illustrations</span> for
        Your
        <span class="illus-brand-title-white">Brand</span>
      </h2>
      <p class="illus-brand-text">
        Not your typical designer. Personalized graphical and illustration
        solutions for companies of every size.
      </p>
      <button class="illus-brand-btn">create illustration</button>
      <video class="illus-brand-video" src=""></video>
    </div>
  </section>

  <!-- SECTION ILLUST-SOLUTION -->
  <section class="illus-solution">
    <div class="container-illus-solution">
      <div class="titles-illus-solution">
        <p class="title-illus-solution">
          The Ultimate
          <span class="title-illus-solution-while">Illustrations Solution</span>
        </p>
        <p class="subtile-illus-solution">
          Creative and detail-oriented graphic designer specializing in
          illustration, crafting unique visuals that enhance brand identity and
          user engagement.
        </p>
      </div>
      <!-- ILLUS SOLUTION INFO -->
      <div class="list-illus-solution-info">
        <div class="block-illus-solution">
          <div class="block-list-illus-solution">
            <p class="title-block-list-illus-solution">satisfied customers</p>
            <p class="text-block-list-illus-solution">
              Increase customer satisfaction with tailored solutions and
              exceptional service.
            </p>
          </div>
          <div class="block-illus-solution">
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">
                12+ illustration per month
              </p>
              <p class="text-block-list-illus-solution">
                Create 12+ custom illustrations per month to elevate your
                brand's visual appeal.
              </p>
            </div>
          </div>
        </div>
        <div class="phone-shadow"></div>
        <img
          class="img-phone-illus-solution"
          src="../assets/images/phone-illus-solution.png"
          alt=""
        />
        <div class="block-illus-solution">
          <div class="block-list-illus-solution">
            <p class="title-block-list-illus-solution">
              more social media conversions
            </p>
            <p class="text-block-list-illus-solution">
              Boost engagement and drive actions on social media with optimized
              strategies.
            </p>
          </div>
          <div class="block-illus-solution">
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">communication 24/7</p>
              <p class="text-block-list-illus-solution">
                24/7 communication for seamless support and quick responses.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- ILLUS SOLUTION INFO -->
    </div>
  </section>

  <!-- SECTION ABOUT ME -->
  <section class="about-me">
    <div class="container-about-me">
      <div class="block-about-me-info">
        <p class="title-block-about-me">about me</p>
        <p class="fullname-block-about-me">
          <span class="first-name-about-me">dima</span
          ><span class="second-name-aboute-me">voronkov</span>
        </p>
        <p class="info-block-about-me">
          My name is Dima, and i’m an illustrator/graphic designer. i create
          unique, branded illustrations and creatives for websites, social
          media, blogs, and advertising.
        </p>
        <button class="btn-block-about-me">
          contacts
          <img
            class="arrow-block-about-me"
            src="../assets/images/arrow-up-right.svg"
            alt=""
          />
        </button>
      </div>
      <div class="about-me-block-frilancer">
        <div class="info-frilancer-about-me">
          <div class="block-info-frilancer">
            <p class="number-info-frilancer">9</p>
            <p class="text-info-frilancer">Years of Experience</p>
          </div>
          <div class="block-info-frilancer">
            <p class="number-info-frilancer">65</p>
            <p class="text-info-frilancer">Happy Clients</p>
          </div>
        </div>
        <img
          class="photo-frilancer-about-me"
          src="../assets/images/photo-frilancer.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <!-- SECTION MY WORKS -->
  <section>
    <div></div>
  </section>

  <!-- SECTION WORK WITH -->
  <section class="work-with">
    <div class="container-work-with">
      <p class="title-work-with">
        work <span class="title-work-with-white">with</span>
      </p>
      <div class="container-wort-with-img">
        <div class="carousel-container">
          <div class="carousel-track">
            <img src="../assets/images/logo/lego-logo.png" alt="Lego" />
            <img src="../assets/images/logo/smart-logo.png" alt="Smart" />
            <img src="../assets/images/logo/addidas-logo.png" alt="Adidas" />
            <img
              src="../assets/images/logo/riot-games-logo.png"
              alt="Riot Games"
            />
            <img
              src="../assets/images/logo/phase-one-karma-logo.png"
              alt="Phase One Karma"
            />
          </div>
          <div class="carousel-track">
            <img src="../assets/images/logo/lego-logo.png" alt="Lego" />
            <img src="../assets/images/logo/smart-logo.png" alt="Smart" />
            <img src="../assets/images/logo/addidas-logo.png" alt="Adidas" />
            <img
              src="../assets/images/logo/riot-games-logo.png"
              alt="Riot Games"
            />
            <img
              src="../assets/images/logo/phase-one-karma-logo.png"
              alt="Phase One Karma"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PRICE WORK -->
  <section>
    <div></div>
  </section>
</main>

<!-- FOOTER -->
<footer>
  <div></div>
</footer>
