// HEADER
.nav-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  border: 1px solid rgba(249, 249, 249, 0.15);
  background: #171717;
  box-shadow: 0px 4px 30.3px 0px rgba(0, 0, 0, 0);
  backdrop-filter: blur(16.5px);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  justify-content: space-between;
  max-width: 1200px;
  max-height: 73px;
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.nav-title {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  margin-right: 42px;
  margin-left: 12px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-item {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid rgba(249, 249, 249, 0.3);
  height: 100%;
  padding: 14px 20px;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link-nan {
  color: #f9f9f9;
  user-select: none;
}

.nav-item.active-link {
  background: #3057ff;
}

.nav-item:hover {
  background-color: #3057ff;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #3057ff;
  padding: 9px 30px;
  gap: 6px;
  transition: all 0.3s ease;
  user-select: none;
}

.nav-btn:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.nav-img {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.nav-btn:hover .nav-img {
  width: 32px;
  height: 32px;
  content: url('../assets/images/arrow-up-right-black.svg');
}

.menu-icon {
  display: none;
}

.menu-icon {
  padding: 12px 10px;
  width: 48px;
  height: 48px;
  background-color: #3057ff;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line-burger {
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
}

.menu-icon.active .line-burger:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-icon.active .line-burger:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .line-burger:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -7px);
}

.modal-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgb(6, 6, 6, 0.6);
  z-index: 50;
  transition: right 1s ease;
}

.modal-mobile.active {
  right: 0;
}

.container-modal-mobile {
  display: flex;
  margin: 0 16px;
  margin-top: 120px;
}

.nav-burger-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-nav-burger-menu {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #3057ff;
  padding: 16px;
}

.btn-nav-butger-menu {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 740;
  line-height: normal;
  text-transform: uppercase;
  background: #3057ff;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px;
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .nav-container {
    padding: 6px 0;
    padding-right: 8px;
    max-width: 797px;
    max-height: 56px;
    margin-top: 22px;
  }
  .nav-title {
    margin-left: 10px;
    margin-right: 12px;
    font-size: 18px;
  }
  .nav-list {
    gap: 16px;
  }
  .nav-item {
    padding: 11px 16px;
    font-size: 14px;
  }
  .nav-btn {
    font-size: 14px;
    padding: 7px 16px;
  }
  .nav-img {
    max-width: 24px;
    max-height: 24px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .nav-container {
    padding: 6px 19px;
    max-width: 704px;
    max-height: 56px;
    margin-top: 32px;
  }
  .nav-title {
    margin-left: 4px;
    margin-right: 0px;
    font-size: 18px;
  }
  .nav-list {
    gap: 8px;
  }
  .nav-item {
    padding: 11px 16px;
    font-size: 14px;
  }
  .nav-btn {
    font-size: 14px;
    padding: 7px 12px;
  }
  .nav-img {
    max-width: 24px;
    max-height: 24px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .nav-container {
    padding: 6px 16px;
    max-width: 93%;
    max-height: 64px;
    margin-top: 32px;
    padding-left: 24px;
  }
  .nav,
  .nav-btn {
    display: none;
  }
  .nav-title {
    margin: 0;
    font-size: 20px;
  }
  .menu-icon {
    display: flex;
  }
}

// MAIN

// ILLUS BRAND

.illus-brand {
  padding-top: 180px;
  position: relative;
}

.illus-brand-title {
  color: #3057ff;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
}

.illus-brand-title-white {
  color: #f9f9f9;
}

.illus-brand-text {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 16px;
}

.illus-brand-btn {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #3057ff;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.illus-brand-btn:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.illus-brand-video {
  max-width: 1190px;
  max-height: 333px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  background-color: #3057ff;
}

.cycle-shadow-top-left {
  position: absolute;
  top: -200px;
  left: -230px;
  max-width: 617px;
  max-height: 617px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(25, 65, 238, 0.48),
    rgba(48, 87, 255, 0) 80%
  );
  filter: blur(222.29998779296875px);
}

.cycle-shadow-bottom-right {
  position: absolute;
  bottom: -30px;
  right: -300px;
  max-width: 617px;
  max-height: 617px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(25, 65, 238, 0.48),
    rgba(48, 87, 255, 0)
  );
  filter: blur(222.29998779296875px);
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .cycle-shadow-top-left {
    top: -150px;
    left: -180px;
  }
  .cycle-shadow-bottom-right {
    bottom: -270px;
    right: -240px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .illus-brand {
    padding-top: 120px;
  }
  .illus-brand-title {
    font-size: 64px;
    max-width: 950px;
  }
  .illus-brand-text {
    font-size: 16px;
  }
  .illus-brand-btn {
    font-size: 14px;
    padding: 16px;
    margin-top: 32px;
  }
  .illus-brand-video {
    max-width: 797px;
    max-height: 223px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .illus-brand {
    padding-top: 128px;
  }
  .illus-brand-title {
    font-size: 64px;
    max-width: 704px;
    color: #f9f9f9;
  }
  .illus-brand-title-white {
    color: #3057ff;
  }
  .illus-brand-text {
    font-size: 14px;
    max-width: 704px;
    margin: 0 auto;
    margin-top: 16px;
  }
  .illus-brand-btn {
    font-size: 14px;
    padding: 16px;
    margin-top: 24px;
  }
  .illus-brand-video {
    max-width: 704px;
    max-height: 300px;
    margin-top: 24px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .illus-brand {
    padding-top: 120px;
  }
  .illus-brand-title {
    font-size: 36px;
    max-width: 90%;
    color: #f9f9f9;
  }
  .illus-brand-title-white {
    color: #3057ff;
  }
  .illus-brand-text {
    font-size: 13px;
    max-width: 100%;
    margin: 0 16px;
    margin-top: 16px;
  }
  .illus-brand-btn {
    font-size: 16px;
    padding: 16px;
    margin-top: 16px;
  }
  .illus-brand-video {
    max-width: 92.5%;
    max-height: 300px;
    margin-top: 24px;
  }
  .cycle-shadow-top-left {
    right: 0;
    max-width: 500px;
    max-height: 500px;
  }
}

// ILLUS SOLUTION

.illus-solution {
  position: relative;
  padding: 0 100px;
  padding-top: 107px;
  border-bottom: 2px solid rgba(249, 249, 249, 0.3);
}

.titles-illus-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}

.title-illus-solution {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  width: 916px;
}

.title-illus-solution-while {
  color: #f9f9f9;
}

.subtile-illus-solution {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 602px;
}

.list-illus-solution-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 240px;
  margin-bottom: 100px;
}

.block-illus-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-list-illus-solution {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-block-list-illus-solution {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 400px;
}

.text-block-list-illus-solution {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 400px;
}

.img-phone-illus-solution {
  position: absolute;
  max-width: 500px;
  max-height: 684px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.phone-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 1400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(48, 87, 255, 0.4) 0%,
    rgba(48, 87, 255, 0) 80%
  );
  transform: translateX(-50%);
  filter: blur(60px);
  z-index: -1;
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .illus-solution {
    padding: 0 80px;
    padding-top: 116px;
  }
  .title-illus-solution {
    font-size: 56px;
  }
  .subtile-illus-solution {
    font-size: 14px;
    max-width: 507px;
  }
  .list-illus-solution-info {
    gap: 200px;
    margin-bottom: 114px;
  }
  .title-block-list-illus-solution {
    font-size: 30px;
  }
  .text-block-list-illus-solution {
    font-size: 13px;
  }
  .img-phone-illus-solution {
    max-width: 440px;
    max-height: 650px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .illus-solution {
    padding: 0 60px;
    padding-top: 80px;
  }
  .titles-illus-solution {
    margin-bottom: 75px;
  }
  .title-illus-solution {
    max-width: 760px;
    font-size: 48px;
  }
  .subtile-illus-solution {
    max-width: 320px;
    font-size: 12px;
  }
  .title-block-list-illus-solution {
    font-size: 24px;
    max-width: 280px;
  }
  .text-block-list-illus-solution {
    font-size: 11px;
    max-width: 280px;
  }
  .img-phone-illus-solution {
    max-width: 330px;
    max-height: 482px;
  }
  .list-illus-solution-info {
    margin-bottom: 80px;
    gap: 120px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .illus-solution {
    padding: 0 32px;
    padding-top: 60px;
  }
  .titles-illus-solution {
    margin-bottom: 65px;
    align-items: start;
  }
  .title-illus-solution {
    max-width: 493px;
    font-size: 48px;
  }
  .subtile-illus-solution {
    max-width: 211px;
    font-size: 11px;
  }
  .title-block-list-illus-solution {
    font-size: 16px;
    max-width: 190px;
  }
  .text-block-list-illus-solution {
    font-size: 10px;
    max-width: 190px;
  }
  .img-phone-illus-solution {
    max-width: 320px;
    max-height: 440px;
  }
  .list-illus-solution-info {
    margin-bottom: 32px;
    gap: 182px;
  }
  .phone-shadow {
    max-width: 600px;
    max-height: 300px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .illus-solution {
    position: relative;
    padding: 0px;
    border: none;
    padding-top: 50px;
  }
  .title-illus-solution {
    width: 92%;
    font-size: 36px;
    margin: 0 16px;
  }
  .img-phone-illus-solution {
    position: relative;
    max-width: 283px;
    max-height: 426px;
    margin-top: -30px;
  }
  .phone-shadow-mobile {
    position: absolute;
    top: 140px;
    left: 50%;
    max-width: 1400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(48, 87, 255, 0.4) 0%,
      rgba(48, 87, 255, 0) 80%
    );
    transform: translateX(-50%);
    filter: blur(60px);
    z-index: 0;
  }
  .line-illus-solution-mobile {
    width: 100%;
    height: 2px;
    background: rgba(249, 249, 249, 0.3);
  }
  .subtile-illus-solution {
    margin: 16px;
    font-size: 11px;
  }
  .title-block-list-illus-solution {
    font-size: 24px;
    max-width: 100%;
  }
  .text-block-list-illus-solution {
    font-size: 11px;
    max-width: 279px;
  }
  .container-illus-sulution-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
  }
  .block-list-illus-solution {
    gap: 4px;
  }
}

// ABOUT ME

.about-me {
  padding: 120px 100px;
  z-index: 1;
}

.container-about-me {
  display: flex;
  gap: 24px;
  width: 100%;
}

.block-about-me-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-block-about-me {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.fullname-block-about-me {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 740;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  gap: 32px;
  margin-bottom: 8px;
}

.info-block-about-me {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 550px;
  margin-bottom: 220px;
}

.btn-block-about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 20px;
  gap: 8px;
  background-color: #3057ff;
  max-width: 194px;
  transition: all 0.3s ease;
}

.btn-block-about-me:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.arrow-block-about-me {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.btn-block-about-me:hover .arrow-block-about-me {
  content: url('../assets/images/arrow-up-right-black.svg');
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
}

.block-about-me-fidback {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.info-frilancer-about-me {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.about-me-block-frilancer {
  display: flex;
  align-items: end;
  gap: 24px;
}

.block-info-frilancer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.number-info-frilancer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.text-info-frilancer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .about-me {
    padding: 120px 80px;
  }
  .title-block-about-me {
    margin-bottom: 80px;
  }
  .title-block-about-me,
  .fullname-block-about-me {
    font-size: 70px;
  }
  .btn-block-about-me {
    max-width: 198px;
  }
  .info-block-about-me {
    font-size: 13px;
    margin-bottom: 140px;
  }
  .photo-frilancer-about-me {
    max-width: 464px;
    max-height: 479px;
  }
  .number-info-frilancer {
    font-size: 48px;
  }
  .text-info-frilancer {
    font-size: 16px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .about-me {
    padding: 80px 60px;
  }
  .title-block-about-me {
    margin-bottom: 40px;
  }
  .title-block-about-me,
  .fullname-block-about-me {
    font-size: 64px;
  }
  .info-block-about-me {
    font-size: 13px;
    margin-bottom: 130px;
    max-width: 570px;
  }
  .photo-frilancer-about-me {
    max-width: 413px;
    max-height: 423px;
  }
  .info-frilancer-about-me {
    gap: 16px;
  }
  .number-info-frilancer {
    font-size: 40px;
  }
  .text-info-frilancer {
    font-size: 14px;
  }
  .arrow-block-about-me {
    max-width: 32px;
    max-height: 32px;
  }
  .btn-block-about-me {
    padding: 8px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .about-me {
    padding: 60px 32px;
  }
  .container-about-me {
    display: block;
  }
  .title-block-about-me {
    margin-bottom: 24px;
  }
  .title-block-about-me,
  .fullname-block-about-me {
    font-size: 56px;
  }
  .info-block-about-me {
    font-size: 11px;
    max-width: 360px;
    margin-bottom: 0;
  }
  .photo-frilancer-about-me {
    max-width: 328px;
    max-height: 333px;
  }
  .info-frilancer-about-me {
    gap: 16px;
  }
  .number-info-frilancer {
    font-size: 40px;
  }
  .text-info-frilancer {
    font-size: 11px;
  }
  .arrow-block-about-me {
    max-width: 24px;
    max-height: 24px;
  }
  .btn-block-about-me {
    padding: 8px 10px;
    font-size: 14px;
    margin-top: 24px;
  }
  .container-info-frelancer-about {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
  }
  .text-info-frelancer-about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-frilancer-about-me {
    gap: 16px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .about-me {
    padding: 40px 16px;
  }
  .container-about-me {
    display: block;
  }
  .title-block-about-me {
    margin-bottom: 12px;
  }
  .title-block-about-me {
    font-size: 40px;
  }
  .fullname-block-about-me {
    flex-wrap: wrap;
    font-size: 38px;
    gap: 4px;
  }
  .info-block-about-me {
    font-size: 11px;
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  .photo-frilancer-about-me {
    max-width: 100%;
    max-height: 100%;
  }
  .number-info-frilancer {
    font-size: 32px;
  }
  .block-info-frilancer {
    gap: 4px;
  }
  .text-info-frilancer {
    font-size: 11px;
  }
  .arrow-block-about-me {
    max-width: 24px;
    max-height: 24px;
  }
  .btn-block-about-me {
    padding: 10px 16px;
    font-size: 16px;
    margin-top: 16px;
  }
  .btn-block-about-me:hover {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #3057ff;
    color: #f9f9f9;
  }
  .arrow-block-about-me {
    width: 28px;
    height: 28px;
  }
  .btn-block-about-me:hover .arrow-block-about-me {
    content: none;
    width: 24px;
    height: 24px;
  }
  .container-info-frelancer-about {
    display: flex;
    margin-top: 16px;
    flex-direction: column-reverse;
  }
  .text-info-frelancer-about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-frilancer-about-me {
    gap: 0;
    justify-content: space-between;
  }
}

// MY WORKS

.my-works {
  padding: 0 1px;
}

.title-block-my-works {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-my-works {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.link-behance-my-works {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.container-swiper-blure {
  position: relative;
}

.blure-container-my-work {
  position: relative;
  filter: blur(33.25px);
  margin-top: 40px;
  width: 100%;
  max-height: 670px;
  height: 100%;
}

.img-blure-work {
  width: 100%;
  max-height: 670px;
  height: 100%;
}

.image-work-frilancer {
  position: absolute;
  top: 0px;
  max-height: 670px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 6%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 6%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrow-left:hover,
.arrow-right:hover {
  filter: brightness(1.3);
  transform: scale(1.2);
}

.arrow-left:active,
.arrow-right:active {
  transform: scale(0.8);
}

.container-description-img-work-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 16px;
  max-width: 1350px;
}

.container-description-work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-description {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle-description {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container-navigation-work {
  display: flex;
  gap: 12px;
}

.cucle-navigation-work {
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.cucle-navigation-work.active-nav-img {
  background-color: #f9f9f9;
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .title-block-my-works {
    padding: 0 80px;
  }
  .title-my-works {
    font-size: 70px;
  }
  .link-behance-my-works {
    font-size: 18px;
  }
  .img-blure-work {
    margin-top: 40px;
    max-height: 460px;
  }
  .image-work-frilancer {
    max-height: 547px;
    max-width: 1066px;
  }
  .container-description-img-work-navigation {
    max-width: 1066px;
    margin-top: 16px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .title-block-my-works {
    padding: 0 60px;
  }
  .title-my-works {
    font-size: 64px;
  }
  .link-behance-my-works {
    font-size: 16px;
  }
  .img-blure-work {
    max-height: 354px;
    margin-top: 30px;
  }
  .image-work-frilancer {
    max-height: 424px;
    max-width: 826px;
  }
  .arrow-left,
  .arrow-right {
    max-width: 42px;
    max-height: 42px;
  }
  .arrow-left {
    left: 9%;
  }
  .arrow-right {
    right: 9%;
  }
  .container-description-img-work-navigation {
    max-width: 826px;
    margin-top: 40px;
  }
  .title-description {
    font-size: 24px;
  }
  .subtitle-description {
    font-size: 14px;
  }
  .cucle-navigation-work {
    max-width: 12px;
    max-height: 12px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .title-block-my-works {
    padding: 0 32px;
  }
  .title-my-works {
    font-size: 56px;
  }
  .link-behance-my-works {
    font-size: 16px;
  }
  .img-blure-work {
    max-height: 232px;
    margin-top: 32px;
  }
  .image-work-frilancer {
    max-height: 312px;
    max-width: 609px;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .container-description-img-work-navigation {
    max-width: 609px;
    margin-top: 56px;
  }
  .container-description-work {
    gap: 4px;
  }
  .title-description {
    font-size: 24px;
  }
  .subtitle-description {
    font-size: 11px;
  }
  .cucle-navigation-work {
    max-width: 11px;
    max-height: 11px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .title-block-my-works {
    padding: 0 16px;
    gap: 4px;
    margin-bottom: 40px;
  }
  .title-my-works {
    font-size: 40px;
  }
  .link-behance-my-works {
    font-size: 16px;
  }
  .blure-container-my-work {
    max-height: 100%;
    margin: 0;
  }
  .img-blure-work {
    max-height: 100%;
    margin-top: 0px;
    filter: blur(33.25px);
  }
  .image-work-frilancer {
    max-height: 100%;
    max-width: 100%;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .container-description-img-work-navigation {
    max-width: 100%;
    margin: 0 16px;
    margin-top: 14px;
    align-items: start;
  }
  .container-description-work {
    gap: 4px;
  }
  .title-description {
    font-size: 24px;
  }
  .subtitle-description {
    font-size: 11px;
  }
  .cucle-navigation-work {
    max-width: 9px;
    max-height: 9px;
  }
}

// WORK WITH

.work-with {
  margin-top: 80px;
}

.title-work-with {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.title-work-with-white {
  color: #f9f9f9;
}

.container-wort-with-img {
  width: 100%;
  height: 100%;
  background-color: #171717;
  background: url('../assets/images/work-with-background.png'), no-repeat;
  overflow: hidden;
}

.container-work-with-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  gap: 64px;
  padding: 32px 0;
  width: 400%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-track {
  display: flex;
  gap: 64px;
  width: 200%;
  animation: carousel-container 40s linear infinite;
}

.carousel-track img {
  height: 100px;
  width: auto;
}

@keyframes carousel-container {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-101%);
  }
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .work-with {
    margin-top: 140px;
  }
  .title-work-with {
    font-size: 36px;
  }
  .carousel-container-mac {
    gap: 50px;
    width: 400%;
    padding: 24px 0;
    justify-content: none;
  }
  .carousel-track img {
    max-width: auto;
    max-height: 190px;
  }
  .carousel-track-mac {
    gap: 50px;
    justify-content: none;
    width: 200%;
    animation: carousel-container-mac 40s linear infinite;
  }
  @keyframes carousel-container-mac {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100.8%);
    }
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .work-with {
    margin-top: 60px;
  }
  .title-work-with {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .carousel-container {
    padding: 15px 0;
  }
  .carousel-track {
    animation: carousel-container 60s linear infinite;
  }
  .carousel-track img {
    max-width: auto;
    max-height: 120px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .work-with {
    margin-top: 40px;
  }
  .title-work-with {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .carousel-container-tablet {
    width: 400%;
    padding: 15px 0;
    gap: 50px;
  }
  .carousel-track img {
    max-width: auto;
    max-height: 80px;
  }
  .carousel-track-tablet {
    gap: 50px;
    width: 200%;
    animation: carousel-container-tablet 60s linear infinite;
  }
  @keyframes carousel-container-tablet {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .work-with {
    margin-top: 40px;
  }
  .title-work-with {
    font-size: 24px;
    margin-bottom: 16px;
    gap: 12px;
  }
  .carousel-container-mobile {
    padding: 16px 0;
    gap: 24px;
    width: 600%;
  }
  .carousel-track-mobile img {
    min-width: auto;
    min-height: 80px;
  }
  .carousel-track-mobile {
    display: flex;
    justify-content: none;
    width: 400%;
    animation: carousel-container-mobile 60s linear infinite;
    gap: 24px;
  }

  @keyframes carousel-container-mobile {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100.6%);
    }
  }
}

// PRICE WORK

.price-work {
  padding: 0 100px;
  padding-top: 130px;
  padding-bottom: 180px;
}

.title-container-price-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.title-price-work-blue {
  color: #3057ff;
}

.subtitle-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 722px;
}

.container-card-price-work {
  margin-top: 60px;
}

.list-card-price-work {
  display: flex;
  justify-content: space-between;
}

.card-price-work {
  padding: 64px 48px;
  background: #171717;
  transition: all 0.3s ease;
  width: 28%;

  .btn-price-work {
    &:active {
      background-color: transparent;
      color: #f9f9f9;
    }
  }
}

.name-pack-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.best-personal-use-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.price-personal-use-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  margin-top: 32px;
}

.price-personal-use-work-gray {
  color: rgba(249, 249, 249, 0.8);
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.btn-price-work {
  background-color: transparent;
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  max-height: 56px;
  text-transform: uppercase;
  height: 100%;
  margin-top: 54px;
  border: 1px solid #ddd;
  padding: 16px 20px;
  transition: all 0.3s ease;
}

.secord-card-price-work {
  background-color: #3057ff;
}

.btn-price-work:hover {
  background: #fff;
  color: #060606;
}

.list-info-best-personal-work {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.features-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.item-info-best-personal-work {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description-best-personal-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .price-work {
    padding: 0 80px;
    padding-top: 100px;
    padding-bottom: 125px;
  }
  .title-price-work {
    font-size: 56px;
  }
  .subtitle-price-work {
    font-size: 14px;
    max-width: 642px;
  }
  .card-price-work {
    padding: 32px;
  }
  .name-pack-price-work {
    font-size: 20px;
  }
  .best-personal-use-price-work {
    font-size: 13px;
  }
  .price-personal-use-work {
    font-size: 48px;
  }
  .price-personal-use-work-gray,
  .features-price-work {
    font-size: 16px;
  }
  .btn-price-work {
    font-size: 16px;
    margin-top: 30px;
  }
  .list-info-best-personal-work {
    margin-top: 24px;
  }
  .description-best-personal-work {
    font-size: 14px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .price-work {
    padding: 80px 60px;
  }
  .title-price-work {
    font-size: 48px;
  }
  .subtitle-price-work {
    font-size: 11px;
    max-width: 499px;
  }
  .card-price-work {
    padding: 24px;
  }
  .name-pack-price-work {
    font-size: 16px;
  }
  .best-personal-use-price-work {
    font-size: 11px;
  }
  .price-personal-use-work {
    font-size: 40px;
  }
  .price-personal-use-work-gray,
  .features-price-work {
    font-size: 11px;
  }
  .features-price-work {
    margin-bottom: 8px;
  }
  .btn-price-work {
    font-size: 14px;
    margin-top: 18px;
    padding: 11px 0;
  }
  .list-info-best-personal-work {
    margin-top: 16px;
    gap: 4px;
  }
  .description-best-personal-work {
    font-size: 11px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .price-work {
    padding: 60px 32px;
  }
  .title-container-price-work {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .title-price-work {
    font-size: 48px;
  }
  .subtitle-price-work {
    font-size: 11px;
    max-width: 534px;
  }
  .container-card-price-work {
    margin-top: 16px;
  }
  .list-card-price-work {
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
  }
  .card-price-work {
    width: 46%;
    padding: 32px;
  }
  .name-pack-price-work {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .best-personal-use-price-work {
    font-size: 13px;
  }
  .price-personal-use-work {
    font-size: 48px;
  }
  .price-personal-use-work-gray,
  .features-price-work {
    font-size: 16px;
  }
  .features-price-work {
    margin-bottom: 16px;
  }
  .btn-price-work {
    font-size: 16px;
    margin-top: 24px;
    padding: 16px 0;
  }
  .list-info-best-personal-work {
    margin-top: 16px;
    gap: 8px;
  }
  .description-best-personal-work {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .price-work {
    padding: 40px 16px;
  }
  .title-container-price-work {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .title-price-work {
    font-size: 40px;
  }
  .subtitle-price-work {
    font-size: 11px;
    max-width: 100%;
  }
  .container-card-price-work {
    margin-top: 16px;
  }
  .list-card-price-work {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .card-price-work {
    width: 100%;
    padding: 32px;
    min-height: 470px;
  }
  .name-pack-price-work {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .best-personal-use-price-work {
    font-size: 13px;
  }
  .price-personal-use-work {
    font-size: 44px;
  }
  .price-personal-use-work-gray,
  .features-price-work {
    font-size: 16px;
  }
  .features-price-work {
    margin-bottom: 16px;
  }
  .btn-price-work {
    font-size: 16px;
    margin-top: 16px;
    padding: 12px 0;
  }
  .list-info-best-personal-work {
    margin-top: 24px;
    gap: 8px;
  }
  .description-best-personal-work {
    font-size: 14px;
  }
}

// FOOTER

.footer {
  background: #171717;
  padding: 60px 0px;
}

.title-footer {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-image-work {
  overflow: hidden;
}

.container-work-img {
  width: 200%;
  overflow: hidden;
  align-items: center;
  display: flex;
  margin: 62px 0;
}

.container-carusel-work-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  animation: container-work-img 40s linear infinite;
}

@keyframes container-work-img {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// MODAL IMAGE

.modal-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000000000000000000;
}

.modal-img.show {
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 1317px;
  max-height: 720px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  image-rendering: auto;
}

.description-link-in-frilance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1317px;
  width: 100%;
  margin-top: 24px;
}

.description-image {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.link-behance-img {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-modal-img {
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0));
  transition: filter 0.3s ease;
}

// MODAL IMAGE

.item-img-carusel {
  position: relative;
  cursor: pointer;
}

.title-work-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.item-img-carusel:hover {
  .title-work-image {
    transform: translateY(0%);
  }
}

.description-carusel-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.name-frilancer-footer {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
}

.navigation-on-my-site {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
}

.navigation-link-footer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  cursor: pointer;
}

.info-bottom-footer {
  margin-top: 72px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 100px;
}

.privacy-policy-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link-privace-policy {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.all-right-reserved {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-block-info-frilancer {
  display: flex;
  align-items: end;
  gap: 24px;
}

.btn-start-and-to-top {
  display: flex;
  gap: 16px;
}

.link-frilancer-portfolio {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.btn-start-footer {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
  gap: 8px;
  background-color: #3057ff;
  transition: all 0.3s ease;
}

.btn-to-top-footer {
  padding: 4px 8px;
  background-color: #3057ff;
  transition: all 0.3s ease;
}

.btn-to-top-footer:hover,
.btn-start-footer:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.img-btn-footer {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.btn-start-footer:hover .img-btn-footer {
  content: url('../assets/images/arrow-up-right-black.svg');
}

.btn-to-top-footer:hover {
  transition: all 0.3s ease;
}

.btn-to-top-footer:hover .img-btn-to-top-footer {
  content: url('../assets/images/arrow-up-black.svg');
}

::ng-deep .lightbox-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

::ng-deep .lightbox-image {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

@media (max-width: 1919px) and (min-width: 1512px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 48px;
  }
  .title-footer {
    font-size: 58px;
  }
  .container-work-img {
    margin: 48px 0;
  }
  .image-caruse-work {
    max-width: 258px;
    max-height: 152px;
    width: 100%;
    height: 100%;
  }
  .title-work-image {
    padding: 10px;
  }
  .description-carusel-work {
    font-size: 18px;
  }
  .name-frilancer-footer {
    font-size: 30px;
  }
  .info-bottom-foot {
    padding: 0 80px;
  }
  .navigation-link-footer {
    font-size: 18px;
  }
  .link-privace-policy,
  .all-right-reserved {
    font-size: 18px;
  }
  .footer-block-info-frilancer {
    gap: 16px;
  }
  .link-frilancer-portfolio {
    font-size: 18px;
  }
  .btn-start-footer {
    font-size: 20px;
  }
  .modal-content {
    max-width: 1115px;
    max-height: 600px;
  }
  .description-link-in-frilance {
    max-width: 1115px;
  }
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title-footer {
    font-size: 48px;
  }
  .container-work-img {
    margin: 40px 0;
  }
  .image-caruse-work {
    max-width: 198px;
    max-height: 108px;
    width: 100%;
    height: 100%;
  }
  .title-work-image {
    padding: 2px;
    padding-left: 8px;
  }
  .description-carusel-work {
    font-size: 11px;
  }
  .img-arrow-footer,
  .title-work-image img {
    max-width: 20px;
    max-height: 20px;
  }
  .name-frilancer-footer {
    font-size: 24px;
  }
  .info-bottom-foot {
    padding: 0 60px;
  }
  .navigation-link-footer {
    font-size: 14px;
  }
  .link-privace-policy,
  .all-right-reserved {
    font-size: 14px;
  }
  .footer-block-info-frilancer {
    gap: 16px;
  }
  .link-frilancer-portfolio {
    font-size: 14px;
  }
  .btn-start-footer {
    font-size: 14px;
    padding: 6px 10px;
  }
  .img-btn-footer {
    max-width: 28px;
    max-height: 28px;
  }
  .img-btn-to-top-footer {
    max-width: 40px;
    max-height: 32px;
  }
  .btn-to-top-footer {
    padding: 4px;
  }
  .modal-content {
    max-width: 795px;
    max-height: 434px;
  }

  .description-link-in-frilance {
    max-width: 795px;
    margin-top: 4px;
  }
  .description-image,
  .link-behance-img {
    font-size: 16px;
  }
  .close-modal-img {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title-footer {
    font-size: 48px;
  }
  .container-work-img {
    gap: 48px;
    margin: 48px 0;
    margin-bottom: 68px;
  }
  .container-work-img-tablet {
    gap: 48px;
  }
  .image-caruse-work {
    min-width: 198px;
    min-height: 108px;
    width: 100%;
    height: 100%;
  }
  .container-carusel-work-img {
    gap: 48px;
    justify-content: none;
    width: 100%;
    animation: container-work-img-tablet 40s linear infinite;
  }
  @keyframes container-work-img-tablet {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-104%);
    }
  }
  .title-work-image {
    padding: 0px;
    padding-left: 8px;
  }
  .description-carusel-work {
    font-size: 11px;
  }
  .img-arrow-footer {
    max-width: 16px;
    max-height: 16px;
  }
  .name-frilancer-footer {
    font-size: 24px;
  }
  .info-bottom-footer {
    padding: 0 32px;
  }
  .navigation-link-footer {
    font-size: 14px;
  }
  .link-privace-policy,
  .all-right-reserved {
    font-size: 14px;
  }
  .footer-block-info-frilancer {
    gap: 16px;
  }
  .link-frilancer-portfolio {
    font-size: 14px;
  }
  .btn-start-footer {
    font-size: 14px;
    padding: 2px 10px;
    margin-left: auto;
  }
  .info-bottom-footer {
    align-items: normal;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .btn-start-and-to-top {
    margin-left: auto;
  }
  .privacy-policy-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .img-btn-footer,
  .img-btn-to-top-footer {
    max-width: 28px;
    max-height: 28px;
  }
  .btn-to-top-footer {
    padding: 4px;
  }
  .btn-start-footer:hover .img-btn-footer,
  .btn-to-top-footer:hover .img-btn-to-top-footer {
    content: none;
  }
  .btn-start-footer:hover,
  .btn-to-top-footer:hover {
    background-color: #3057ff;
    color: #f9f9f9;
  }
  .modal-content {
    max-width: 704px;
    max-height: 367px;
  }
  .description-link-in-frilance {
    max-width: 704px;
    margin-top: 16px;
  }
  .description-image,
  .link-behance-img {
    font-size: 16px;
  }
  .close-modal-img {
    max-width: 40px;
    max-height: 40px;
  }
  .title-work-image {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .title-footer {
    font-size: 36px;
  }

  .container-work-img {
    margin: 24px 0;
    margin-bottom: 28px;
    gap: 24px;
    width: 100%;
  }
  .container-work-img-mobile {
    gap: 24px;
  }
  .image-caruse-work {
    min-width: 200px;
    min-height: 110px;
    width: 100%;
    height: 100%;
  }
  .container-carusel-work-img {
    gap: 24px;
    justify-content: none;
    width: 400%;
    animation: container-work-img-mobile 20s linear infinite;
  }
  @keyframes container-work-img-mobile {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-102%);
    }
  }
  .name-frilancer-footer {
    font-size: 24px;
    justify-content: start;
    margin: 0 16px;
  }
  .info-bottom-footer {
    padding: 0 16px;
  }
  .navigation-on-my-site {
    flex-direction: column;
    justify-self: start;
    align-items: start;
    margin: 16px;
    gap: 8px;
  }
  .navigation-link-footer {
    font-size: 16px;
  }
  .link-privace-policy,
  .all-right-reserved {
    font-size: 14px;
  }
  .footer-block-info-frilancer {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
  }
  .social-mobile {
    color: #3057ff;
    font-family: 'Nata Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .link-frilancer-portfolio {
    font-size: 16px;
  }
  .btn-start-footer {
    font-size: 16px;
    padding: 6px 10px;
  }
  .info-bottom-footer {
    align-items: normal;
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 0px;
  }
  .btn-start-and-to-top {
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  .btn-start-footer:hover .img-btn-footer,
  .btn-to-top-footer:hover .img-btn-to-top-footer {
    content: none;
  }
  .btn-start-footer:hover,
  .btn-to-top-footer:hover {
    background-color: #3057ff;
    color: #f9f9f9;
  }
  .privacy-policy-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .img-btn-footer {
    width: 28px;
    height: 28px;
  }
  .img-btn-to-top-footer {
    width: 40px;
    height: 40px;
  }
  .btn-to-top-footer {
    padding: 4px;
  }
  .modal-content {
    max-width: 90%;
    max-height: 22%;
  }
  .description-link-in-frilance {
    width: 90%;
    margin-top: 8px;
  }
  .description-image {
    width: 100%;
    font-size: 16px;
  }
  .link-behance-img {
    text-align: end;
    width: 100%;
    font-size: 14px;
  }
  .close-modal-img {
    max-width: 33px;
    max-height: 33px;
  }
  .title-work-image {
    display: none;
  }
}

// MODAL ICON

.container-blur {
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.container-blur.blur-bg {
  filter: blur(1.149999976158142px);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(6, 6, 6, 0.6);
  z-index: 100000000;
}

.modal.active-modal {
  display: flex;
}

.container-modal {
  padding: 24px 38px;
  max-width: 600px;
  width: 100%;
  background: #171717;
}

.header-modal-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-modal-icon {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 28px */
  text-transform: uppercase;
}

.img-modal-icon {
  cursor: pointer;
}

.email-block-modal-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 4px;
}

.form-modal-icon {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.label-email-modal-icon,
.label-selector-modal-icon {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;
}

.inp-email-modal-icon {
  border: 1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0px;
  color: #f9f9f9;
  padding: 16px;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  background-color: transparent;
}

.inp-email-modal-icon::placeholder {
  color: rgba(249, 249, 249, 0.5);
}

.container-card-info-price-work {
  display: flex;
  flex-direction: column;
}

.container-price-card {
  display: flex;
  border: 1px solid rgba(249, 249, 249, 0.3);
}

.block-price-card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 25%;
  height: 66px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.block-price-card.active {
  background-color: #3057ff;
}

.block-price-card:hover {
  background-color: #f9f9f9;
  .name-pack-price-card,
  .price-pack-card,
  .custom-pack-price-card {
    color: #060606;
  }
}

.name-pack-price-card {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.price-pack-card {
  color: #fff;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.custom-pack-price-card {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.info-block-price-card {
  border: 1px solid rgba(249, 249, 249, 0.3);
  width: 100%;
  height: 262px;
  padding: 24px;
}

.title-block-price-card {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 85.714% */
  text-transform: uppercase;
  margin-bottom: 16px;
}

.list-pack-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-best-personal-work-form {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 420;
  line-height: 22px;
}

.text-price-card {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  background-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
}

.text-price-card::placeholder {
  color: rgba(249, 249, 249, 0.5);
}

.btn-sub-modal-icon {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background: #1941ee;
  padding: 12px 20px;
  max-width: 210px;
  width: 100%;
  margin-left: auto;
  margin-top: 4px;
  transition: all 0.3s ease;
}

.btn-sub-modal-icon:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error-message {
  font-size: 22px;
  color: red;
  font-family: 'Nata sans';
}

.container-message-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-height: 412px;
  width: 100%;
  height: 100%;
}

.title-success {
  margin-top: 16px;
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.text-success {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.container-reload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(6, 6, 6, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100000000;
  opacity: 1;
  overflow: hidden;
}

.reload-gif {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1511px) and (min-width: 1200px) {
  .container-modal {
    max-width: 488px;
    padding: 24px;
  }
  .title-modal-icon {
    font-size: 24px;
  }
  .img-modal-icon {
    max-width: 40px;
    max-height: 40px;
  }

  .label-email-modal-icon {
    font-size: 24px;
  }
  .inp-email-modal-icon {
    font-size: 14px;
    padding: 12px 16px;
  }
  .btn-sub-modal-icon {
    padding: 10px;
    width: 50%;
  }
  .btn-sub-modal-icon img {
    width: 28px;
    height: 28px;
  }
  .container-message-success {
    padding: 0px;
    max-width: 440px;
    min-height: 330px;
  }
  .error-message {
    font-size: 14px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .container-modal,
  .modal,
  .modal .active-modal {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  .container-modal {
    padding: 40px 16px;
    padding-top: 16px;
  }
  .title-modal-icon {
    font-size: 24px;
  }
  .label-email-modal-icon {
    font-size: 20px;
  }
  .form-modal-icon {
    margin-top: 18px;
  }
  .inp-email-modal-icon {
    padding: 12px 15px;
    font-size: 13px;
  }
  .inp-email-modal-icon::placeholder {
    font-size: 13px;
  }
  .description-best-personal-work-form {
    font-size: 13px;
  }
  .block-price-card:hover {
    background-color: #3057ff;
    .name-pack-price-card,
    .price-pack-card,
    .custom-pack-price-card {
      color: #f9f9f9;
    }
  }
  .info-block-price-card {
    padding: 16px;
  }
  .title-block-price-card {
    font-size: 13px;
    margin-bottom: 4px;
  }
  .text-price-card {
    font-size: 16px;
  }
  .error-message {
    font-size: 16px;
  }
  .container-message-success {
    min-height: 100vh;
  }
}
