// HEADER
.nav-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  border: 1px solid rgba(249, 249, 249, 0.15);
  background: #171717;
  box-shadow: 0px 4px 30.3px 0px rgba(0, 0, 0, 0);
  backdrop-filter: blur(16.5px);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  justify-content: space-between;
  max-width: 1200px;
  max-height: 73px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.nav-title {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  margin-right: 42px;
  margin-left: 12px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-item {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid rgba(249, 249, 249, 0.3);
  height: 100%;
  padding: 14px 20px;
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link-nan {
  color: #f9f9f9;
  user-select: none;
}

.nav-item.active-link {
  background: #3057ff;
}

.nav-item:hover {
  background-color: #3057ff;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #3057ff;
  padding: 9px 30px;
  transition: all 0.3s ease;
  border: 1px solid rgba(249, 249, 249, 0.3);
  user-select: none;
}

.nav-btn:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.nav-img {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.nav-btn:hover .nav-img {
  width: 32px;
  height: 32px;
  content: url('../assets/images/arrow-up-right-black.svg');
}

// MAIN

// ILLUS BRAND

.illus-brand {
  padding-top: 210px;
  padding-bottom: 100px;
  position: relative;
}

.illus-brand-title {
  color: #3057ff;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
}

.illus-brand-title-white {
  color: #f9f9f9;
}

.illus-brand-text {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 16px;
}

.illus-brand-btn {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #3057ff;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.illus-brand-btn:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.illus-brand-video {
  max-width: 1190px;
  max-height: 333px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  background-color: #3057ff;
}

.cycle-shadow-top-left {
  position: absolute;
  top: -200px;
  left: -230px;
  max-width: 617px;
  max-height: 617px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(25, 65, 238, 0.48),
    rgba(48, 87, 255, 0) 80%
  );
  filter: blur(222.29998779296875px);
}

.cycle-shadow-bottom-right {
  position: absolute;
  bottom: -30px;
  right: -300px;
  max-width: 617px;
  max-height: 617px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(25, 65, 238, 0.48),
    rgba(48, 87, 255, 0)
  );
  filter: blur(222.29998779296875px);
}

// ILLUS SOLUTION

.illus-solution {
  position: relative;
  padding: 0 100px;
  border-bottom: 2px solid rgba(249, 249, 249, 0.3);
}

.titles-illus-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}

.title-illus-solution {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  max-width: 916px;
}

.title-illus-solution-while {
  color: #f9f9f9;
}

.subtile-illus-solution {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  max-width: 602px;
}

.list-illus-solution-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 240px;
  margin-bottom: 100px;
}

.block-illus-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-list-illus-solution {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-block-list-illus-solution {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 400px;
}

.text-block-list-illus-solution {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  max-width: 400px;
}

.img-phone-illus-solution {
  position: absolute;
  max-width: 500px;
  max-height: 684px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.phone-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 1400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(48, 87, 255, 0.4) 0%,
    rgba(48, 87, 255, 0) 80%
  );
  transform: translateX(-50%);
  filter: blur(60px);
  z-index: -1;
}

// ABOUT ME

.about-me {
  padding: 120px 100px;
  z-index: 1;
}

.container-about-me {
  display: flex;
  gap: 24px;
  width: 100%;
}

.block-about-me-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-block-about-me {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.fullname-block-about-me {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 740;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  gap: 32px;
  margin-bottom: 8px;
}

.info-block-about-me {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  max-width: 550px;
  margin-bottom: 220px;
}

.btn-block-about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #3057ff;
  max-width: 194px;
  transition: all 0.3s ease;
}

.btn-block-about-me:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.arrow-block-about-me {
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.btn-block-about-me:hover .arrow-block-about-me {
  content: url('../assets/images/arrow-up-right-black.svg');
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
}

.block-about-me-fidback {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.info-frilancer-about-me {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.about-me-block-frilancer {
  display: flex;
  align-items: end;
  gap: 24px;
}

.block-info-frilancer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.number-info-frilancer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.text-info-frilancer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

// MY WORKS

.my-works {
  padding: 0 1px;
}

.title-block-my-works {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-my-works {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.link-behance-my-works {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.container-swiper-blure {
  position: relative;
}

.blure-container-my-work {
  position: relative;
  filter: blur(33.25px);
  margin-top: 40px;
  width: 100%;
  max-height: 670px;
  height: 100%;
}

.img-blure-work {
  width: 100%;
  max-height: 670px;
  height: 100%;
}

.image-work-frilancer {
  position: absolute;
  top: 0px;
  max-height: 670px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.container-description-img-work-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 285px;
}

.container-description-work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-description {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle-description {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
}

.container-navigation-work {
  display: flex;
  gap: 12px;
}

.cucle-navigation-work {
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.cucle-navigation-work.active-nav-img {
  background-color: #f9f9f9;
}

// WORK WITH

.work-with {
  margin-top: 80px;
}

.title-work-with {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.title-work-with-white {
  color: #f9f9f9;
}

.container-wort-with-img {
  width: 100%;
  height: 100%;
  background-color: #171717;
  background: url('../assets/images/work-with-background.png'), no-repeat;

  overflow: hidden;
}

.container-work-with-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  width: 200%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-track {
  display: flex;
  justify-content: space-around;
  width: 100%;
  animation: carousel-container 40s linear infinite;
}

@keyframes carousel-container {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// PRICE WORK

.price-work {
  padding: 0 100px;
  padding-top: 130px;
  padding-bottom: 180px;
}

.title-container-price-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.title-price-work-blue {
  color: #3057ff;
}

.subtitle-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 722px;
}

.container-card-price-work {
  margin-top: 60px;
}

.list-card-price-work {
  display: flex;
  justify-content: space-between;
}

.card-price-work {
  padding: 64px 48px;
  background: #171717;
  transition: all 0.3s ease;
  width: 28%;

  &.active {
    background-color: #3057ff;
  }

  .btn-price-work {
    &:active {
      background-color: transparent;
      color: #f9f9f9;
    }
  }
}

.name-pack-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.best-personal-use-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.price-personal-use-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  margin-top: 32px;
}

.price-personal-use-work-gray {
  color: rgba(249, 249, 249, 0.8);
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.btn-price-work {
  background-color: transparent;
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  max-height: 56px;
  text-transform: uppercase;
  height: 100%;
  margin-top: 54px;
  border: 1px solid #ddd;
  padding: 16px 20px;
  transition: all 0.3s ease;
}

.first-btn-price-work {
  background: #fff;
  color: #060606;
}

.secord-card-price-work {
  background-color: #3057ff;
}

.btn-price-work:hover {
  background: #fff;
  color: #060606;
}

.list-info-best-personal-work {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.features-price-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.item-info-best-personal-work {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description-best-personal-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

// FOOTER

.footer {
  background: #171717;
  padding: 60px 0px;
}

.title-footer {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-image-work {
  overflow: hidden;
}

.container-work-img {
  width: 200%;
  overflow: hidden;
  align-items: center;
  display: flex;
  margin: 62px 0;
}

.container-carusel-work-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  animation: container-work-img 40s linear infinite;
}

@keyframes container-work-img {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// MODAL IMAGE

.modal-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.modal-img.show {
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 1317px;
  max-height: 720px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  image-rendering: auto;
}

.description-link-in-frilance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1317px;
  width: 100%;
  margin-top: 24px;
}

.description-image {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 740;
  line-height: normal;
  text-transform: uppercase;
}

.link-behance-img {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-modal-img {
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0));
  transition: filter 0.3s ease;
}

// MODAL IMAGE

.item-img-carusel {
  position: relative;
}

.title-work-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.item-img-carusel:hover {
  .title-work-image {
    transform: translateY(0%);
  }
}

.description-carusel-work {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.name-frilancer-footer {
  color: #3057ff;
  font-family: 'Nata Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
}

.navigation-on-my-site {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
}

.navigation-link-footer {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  cursor: pointer;
}

.info-bottom-footer {
  margin-top: 72px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 100px;
}

.privacy-policy-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link-privace-policy {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.all-right-reserved {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-block-info-frilancer {
  display: flex;
  align-items: end;
  gap: 24px;
}

.btn-start-and-to-top {
  display: flex;
  gap: 16px;
}

.link-frilancer-portfolio {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.btn-start-footer {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: 1px solid rgba(249, 249, 249, 0.3);
  padding: 8px 20px;
  width: 100%;
  gap: 8px;
  background-color: #3057ff;
  transition: all 0.3s ease;
}

.btn-to-top-footer {
  padding: 4px 8px;
  background-color: #3057ff;
  border: 1px solid rgba(249, 249, 249, 0.3);
  transition: all 0.3s ease;
}

.btn-to-top-footer:hover,
.btn-start-footer:hover {
  background-color: #f9f9f9;
  color: #060606;
}

.img-btn-footer {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.btn-start-footer:hover .img-btn-footer {
  content: url('../assets/images/arrow-up-right-black.svg');
}

.btn-to-top-footer:hover {
  transition: all 0.3s ease;
}

.btn-to-top-footer:hover .img-btn-to-top-footer {
  content: url('../assets/images/arrow-up-black.svg');
}

::ng-deep .lightbox-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

::ng-deep .lightbox-image {
  max-width: 90vw;
  max-height: 90vh; 
  object-fit: contain;
}

// MODAL ICON

.container-blur {
  transition: all 0.6s ease;
  overflow: hidden;
  position: relative;
}

.container-blur.blur-bg {
  filter: blur(1.149999976158142px);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(6, 6, 6, 0.6);
  z-index: 1000;
}

.modal.active-modal {
  display: flex;
}

.container-modal {
  padding: 24px 38px;
  max-width: 600px;
  width: 100%;
  background: #171717;
}

.header-modal-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-modal-icon {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 28px */
  text-transform: uppercase;
}

.img-modal-icon {
  cursor: pointer;
}

.email-block-modal-icon {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-modal-icon {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label-email-modal-icon,
.label-selector-modal-icon {
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;
}

.inp-email-modal-icon {
  border: 1px solid rgba(223, 223, 223, 0.8);
  color: #f9f9f9;
  padding: 16px;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  background-color: transparent;
}

.inp-email-modal-icon::placeholder {
  color: rgba(249, 249, 249, 0.5);
}

.container-selector-modal-icon {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selector-modal-icon {
  background-color: transparent;
  padding: 16px;
  color: #f9f9f9;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  border: 1px solid rgba(223, 223, 223, 0.8);
}

.selector-modal-icon option {
  background-color: #171717;
  color: #f9f9f9;
}

.btn-sub-modal-icon {
  color: #f9f9f9;
  text-align: center;
  font-family: 'Nata Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background: #1941ee;
  padding: 12px 20px;
  max-width: 210px;
  width: 100%;
  margin-left: auto;
}

.btn-sub-modal-icon:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error-message {
  font-size: 22px;
  color: red;
  font-family: 'Nata sans';
}

.successful {
  font-size: 48px;
  margin: 24px auto;
  color: rgb(11, 176, 11);
  font-family: 'Nata sans';
}
