<!-- BLUR SITE -->
<div class="container-blur" [ngClass]="{ 'blur-bg': activeModal }">
  <!-- HEADER -->
  <header class="nav-container">
    <h1 class="nav-title" (click)="scrollToTop()">voronkov</h1>
    <nav class="nav">
      <ul class="nav-list">
        <li
          class="nav-item"
          (click)="scrollToSection('illus-solution')"
          [ngClass]="{ 'active-link': activeBlock === 'illus-solution' }"
        >
          <a class="link-nan">features</a>
        </li>
        <li
          class="nav-item"
          (click)="scrollToSection('about-me')"
          [ngClass]="{ 'active-link': activeBlock === 'about-me' }"
        >
          <a class="link-nan">about</a>
        </li>
        <li
          class="nav-item"
          (click)="scrollToSection('my-works')"
          [ngClass]="{ 'active-link': activeBlock === 'my-works' }"
        >
          <a class="link-nan">works</a>
        </li>
        <li
          class="nav-item"
          (click)="scrollToSection('price-work')"
          [ngClass]="{ 'active-link': activeBlock === 'price-work' }"
        >
          <a class="link-nan">price</a>
        </li>
      </ul>
    </nav>
    <button class="nav-btn" (click)="openModal()">
      let's start
      <img
        draggable="false"
        class="nav-img"
        src="../assets/images/arrow-up-right.svg"
        alt="arrow"
      />
    </button>
    <div class="menu-icon" (click)="toggleMenu()" [ngClass]="{'active': openModalMobile}">
      <span class="line-burger"></span>
      <span class="line-burger"></span>
      <span class="line-burger"></span>
    </div>
  </header>
  <!-- MAIN -->

  <main>
    <!-- SECTION ILLUST-BRAND -->
    <section id="illus-brand" class="illus-brand">
      <div class="cycle-shadow-top-left"></div>
      <div class="illus-brand-container">
        <h2 class="illus-brand-title">
          Unique <span class="illus-brand-title-white">Illustrations</span> for
          Your
          <span class="illus-brand-title-white">Brand</span>
        </h2>
        <p class="illus-brand-text">
          Not your typical designer. Personalized graphical and illustration
          solutions for companies of every size.
        </p>
        <button class="illus-brand-btn" (click)="openModal()">
          create illustration
        </button>
        <video class="illus-brand-video" src=""></video>
      </div>
      <div class="cycle-shadow-bottom-right"></div>
    </section>
    <!-- SECTION ILLUST-SOLUTION -->
    <section id="illus-solution" class="illus-solution">
      @if (isMobile()) {
        <div class="container-mobile-illus-solution">
          <p class="title-illus-solution">
            The Ultimate
            <span class="title-illus-solution-while"
              >Illustrations Solution</span
            >
          </p>
          <div class="phone-shadow-mobile"></div>

          <img
            draggable="false"
            class="img-phone-illus-solution"
            src="../assets/images/phone-illus-solution.png"
            alt=""
          />
          <div class="line-illus-solution-mobile"></div>
          <p class="subtile-illus-solution">
            Creative and detail-oriented graphic designer specializing in
            illustration, crafting unique visuals that enhance brand identity
            and user engagement.
          </p>
          <div class="container-illus-sulution-info">
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">satisfied customers</p>
              <p class="text-block-list-illus-solution">
                Increase customer satisfaction with tailored solutions and
                exceptional service.
              </p>
            </div>
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">
                12+ illustration per month
              </p>
              <p class="text-block-list-illus-solution">
                Create 12+ custom illustrations per month to elevate your
                brand's visual appeal.
              </p>
            </div>
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">
                more social media conversions
              </p>
              <p class="text-block-list-illus-solution">
                Boost engagement and drive actions on social media with
                optimized strategies.
              </p>
            </div>
            <div class="block-list-illus-solution">
              <p class="title-block-list-illus-solution">communication 24/7</p>
              <p class="text-block-list-illus-solution">
                24/7 communication for seamless support and quick responses.
              </p>
            </div>
          </div>
        </div>
      } @else {
        <div class="container-illus-solution">
          <div class="titles-illus-solution">
            <p class="title-illus-solution">
              The Ultimate
              <span class="title-illus-solution-while"
                >Illustrations Solution</span
              >
            </p>
            <p class="subtile-illus-solution">
              Creative and detail-oriented graphic designer specializing in
              illustration, crafting unique visuals that enhance brand identity
              and user engagement.
            </p>
          </div>
          <!-- ILLUS SOLUTION INFO -->
          <div class="list-illus-solution-info">
            <div class="block-illus-solution">
              <div class="block-list-illus-solution">
                <p class="title-block-list-illus-solution">
                  satisfied customers
                </p>
                <p class="text-block-list-illus-solution">
                  Increase customer satisfaction with tailored solutions and
                  exceptional service.
                </p>
              </div>
              <div class="block-illus-solution">
                <div class="block-list-illus-solution">
                  <p class="title-block-list-illus-solution">
                    12+ illustration per month
                  </p>
                  <p class="text-block-list-illus-solution">
                    Create 12+ custom illustrations per month to elevate your
                    brand's visual appeal.
                  </p>
                </div>
              </div>
            </div>
            <div class="phone-shadow"></div>
            <img
              draggable="false"
              class="img-phone-illus-solution"
              src="../assets/images/phone-illus-solution.png"
              alt=""
            />
            <div class="block-illus-solution">
              <div class="block-list-illus-solution">
                <p class="title-block-list-illus-solution">
                  more social media conversions
                </p>
                <p class="text-block-list-illus-solution">
                  Boost engagement and drive actions on social media with
                  optimized strategies.
                </p>
              </div>
              <div class="block-illus-solution">
                <div class="block-list-illus-solution">
                  <p class="title-block-list-illus-solution">
                    communication 24/7
                  </p>
                  <p class="text-block-list-illus-solution">
                    24/7 communication for seamless support and quick responses.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- ILLUS SOLUTION INFO -->
        </div>
      }
    </section>

    <!-- SECTION ABOUT ME -->
    <section id="about-me" class="about-me">
      <div class="container-about-me">
        @if (isTablet() || isMobile()) {
          <div class="container-tablet-about-me">
            <p class="title-block-about-me">about me</p>
            <p class="fullname-block-about-me">
              <span class="first-name-about-me">dima</span
              ><span class="second-name-aboute-me">voronkov</span>
            </p>
            <div class="container-info-frelancer-about">
              <div class="text-info-frelancer-about-me">
                <p class="info-block-about-me">
                  My name is Dima, and i’m an illustrator/graphic designer. i
                  create unique, branded illustrations and creatives for
                  websites, social media, blogs, and advertising.
                </p>
                <div>
                  <div class="info-frilancer-tablet">
                    <div class="info-frilancer-about-me">
                      <div class="block-info-frilancer">
                        <p class="number-info-frilancer">120+</p>
                        <p class="text-info-frilancer">Projects Completed</p>
                      </div>
                      <div class="block-info-frilancer">
                        <p class="number-info-frilancer">10+</p>
                        <p class="text-info-frilancer">Years of Experience</p>
                      </div>
                      <div class="block-info-frilancer">
                        <p class="number-info-frilancer">65+</p>
                        <p class="text-info-frilancer">Happy Clients</p>
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn-block-about-me"
                    (click)="scrollToSection('footer')"
                  >
                    contacts
                    <img
                      draggable="false"
                      class="arrow-block-about-me"
                      src="../assets/images/arrow-up-right.svg"
                      alt=""
                    />
                  </button>
                </div>
              </div>
              <img
                draggable="false"
                class="photo-frilancer-about-me"
                src="../assets/images/photo-frilancer.png"
                alt=""
              />
            </div>
          </div>
        } @else {
          <div class="block-about-me-info">
            <p class="title-block-about-me">about me</p>
            <p class="fullname-block-about-me">
              <span class="first-name-about-me">dima</span
              ><span class="second-name-aboute-me">voronkov</span>
            </p>
            <p class="info-block-about-me">
              My name is Dima, and i’m an illustrator/graphic designer. i create
              unique, branded illustrations and creatives for websites, social
              media, blogs, and advertising.
            </p>
            <div class="block-about-me-fidback">
              <button
                class="btn-block-about-me"
                (click)="scrollToSection('footer')"
              >
                contacts
                <img
                  draggable="false"
                  class="arrow-block-about-me"
                  src="../assets/images/arrow-up-right.svg"
                  alt=""
                />
              </button>
              <div class="info-frilancer-about-me">
                <div class="block-info-frilancer">
                  <p class="number-info-frilancer">120+</p>
                  <p class="text-info-frilancer">Projects Completed</p>
                </div>
                <div class="block-info-frilancer">
                  <p class="number-info-frilancer">10+</p>
                  <p class="text-info-frilancer">Years of Experience</p>
                </div>
                <div class="block-info-frilancer">
                  <p class="number-info-frilancer">65+</p>
                  <p class="text-info-frilancer">Happy Clients</p>
                </div>
              </div>
            </div>
          </div>
          <img
            draggable="false"
            class="photo-frilancer-about-me"
            src="../assets/images/photo-frilancer.png"
            alt=""
          />
        }
      </div>
    </section>

    <!-- SECTION MY WORKS -->
    <section id="my-works" class="my-works">
      <div class="container-my-works">
        <div class="title-block-my-works">
          <p class="title-my-works">my works</p>
          <a
            class="link-behance-my-works"
            href="https://www.behance.net/voronkov-art"
            target="_blank"
            >watch my behance</a
          >
        </div>
        <div
          class="container-swiper-blure"
          *ngIf="imagesWork[currentIndex]"
          (touchstart)="onTouchStart($event)"
          (touchend)="onTouchEnd($event)"
        >
          <div class="blure-container-my-work">
            <img
              draggable="false"
              class="img-blure-work"
              [src]="imagesWork[currentIndex].blured"
              alt=""
            />
          </div>
          <img
            draggable="false"
            src="../assets/images/chevron-down-left.svg"
            alt="Previous"
            class="arrow-left"
            (click)="prevSlide()"
          />

          <img
            draggable="false"
            class="image-work-frilancer"
            [src]="imagesWork[currentIndex].main"
            alt=""
          />
          <img
            draggable="false"
            src="../assets/images/chevron-down-right.svg"
            alt="Next"
            class="arrow-right"
            (click)="nextSlide()"
          />
        </div>

        <div class="container-description-img-work-navigation">
          <div class="container-description-work">
            <p class="title-description">
              {{ imagesWork[currentIndex].title }}
            </p>
            <p class="subtitle-description">
              {{ imagesWork[currentIndex].description }}
            </p>
          </div>

          <div class="container-navigation-work">
            <div
              class="cucle-navigation-work"
              [class.active-nav-img]="currentIndex === 0"
              (click)="changeImage(0)"
            ></div>
            <div
              class="cucle-navigation-work"
              [class.active-nav-img]="currentIndex === 1"
              (click)="changeImage(1)"
            ></div>
          </div>
        </div>
      </div>
      <!-- SECTION WORK WITH -->
      <div class="work-with">
        <div class="container-work-with">
          <p class="title-work-with">
            work <span class="title-work-with-white">with</span>
          </p>
          <div class="container-wort-with-img">
            <div class="carousel-container">
              <div class="carousel-track">
                <img
                  draggable="false"
                  src="../assets/images/logo/lego-logo.png"
                  alt="Lego"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/smart-logo.png"
                  alt="Smart"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/addidas-logo.png"
                  alt="Adidas"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/riot-games-logo.png"
                  alt="Riot Games"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/phase-one-karma-logo.png"
                  alt="Phase One Karma"
                />
              </div>
              <div class="carousel-track">
                <img
                  draggable="false"
                  src="../assets/images/logo/lego-logo.png"
                  alt="Lego"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/smart-logo.png"
                  alt="Smart"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/addidas-logo.png"
                  alt="Adidas"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/riot-games-logo.png"
                  alt="Riot Games"
                />
                <img
                  draggable="false"
                  src="../assets/images/logo/phase-one-karma-logo.png"
                  alt="Phase One Karma"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PRICE WORK -->
    <section id="price-work" class="price-work">
      <div class="container-price-work">
        <div class="title-container-price-work">
          <h2 class="title-price-work">
            price <span class="title-price-work-blue">for my</span> work
          </h2>
          <p class="subtitle-price-work">
            I analyze trends in the market every day and I'm ready to say that
            working with me your visuals will be recognizable, as well as will
            attract customers to your posts on social networks.
          </p>
        </div>
        <div class="container-card-price-work">
          <ul class="list-card-price-work">
            <li
              class="card-price-work"
              [ngClass]="{ active: activeCardIndex === 0 }"
            >
              <div class="container-info-card-price-work">
                <p class="name-pack-price-work">pack 1</p>
                <p class="best-personal-use-price-work">
                  Best for personal use.
                </p>
                <p class="price-personal-use-work">
                  $800<span class="price-personal-use-work-gray">
                    / per month</span
                  >
                </p>
                <button
                  class="btn-price-work"
                  (click)="openModal()"
                  (mousedown)="onMouseDown()"
                  (mouseup)="onMouseUp()"
                  (mousedown)="setActiveCard(0)"
                  (mouseup)="setActiveCard(-1)"
                >
                  let's start
                </button>
                <ul class="list-info-best-personal-work">
                  <p class="features-price-work">Features</p>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      12 illustrations per month.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Finding a style for your blog.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      3 illustration edits free of charge.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Communication 24/7.
                    </p>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="card-price-work secord-card-price-work"
              [ngClass]="{ active: activeCardIndex === 1 }"
            >
              <div class="container-info-card-price-work">
                <p class="name-pack-price-work">pack 2</p>
                <p class="best-personal-use-price-work">
                  Best for personal use.
                </p>
                <p class="price-personal-use-work">
                  $1200<span class="price-personal-use-work-gray">
                    / per month</span
                  >
                </p>
                <button
                  class="btn-price-work"
                  (click)="openModal()"
                  (mousedown)="onMouseDown()"
                  (mouseup)="onMouseUp()"
                  (mousedown)="setActiveCard(1)"
                  (mouseup)="setActiveCard(-1)"
                >
                  let's start
                </button>
                <ul class="list-info-best-personal-work">
                  <p class="features-price-work">Features</p>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      24 illustrations per month.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Finding a style for your blog.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      3 illustration edits free of charge.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Communication 24/7.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Adapting your blog illustrations.
                    </p>
                  </li>
                </ul>
              </div>
            </li>
            <li
              class="card-price-work"
              [ngClass]="{ active: activeCardIndex === 2 }"
            >
              <div class="container-info-card-price-work">
                <p class="name-pack-price-work">pack 3</p>
                <p class="best-personal-use-price-work">
                  Best for personal use.
                </p>
                <p class="price-personal-use-work">
                  $1600<span class="price-personal-use-work-gray">
                    / per month</span
                  >
                </p>
                <button
                  class="btn-price-work"
                  (click)="openModal()"
                  (mousedown)="onMouseDown()"
                  (mouseup)="onMouseUp()"
                  (mousedown)="setActiveCard(2)"
                  (mouseup)="setActiveCard(-1)"
                >
                  let's start
                </button>
                <ul class="list-info-best-personal-work">
                  <p class="features-price-work">Features</p>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      36 illustrations per month.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Finding a style for your blog.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      5 illustration edits free of charge.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Communication 24/7.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Adapting your blog illustrations.
                    </p>
                  </li>
                  <li class="item-info-best-personal-work">
                    <img
                      draggable="false"
                      class="img-info-best-personal-work"
                      src="../assets/images/tick.svg"
                      alt="tick"
                    />
                    <p class="description-best-personal-work">
                      Preparing posts within one hour.
                    </p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer id="footer" class="footer">
    <div class="container-footer">
      <p class="title-footer">LETS WORK TOGETHER</p>
      <div class="container-image-work">
        <div class="container-work-img">
          <div class="container-carusel-work-img">
            <div
              *ngFor="let image of images"
              class="item-img-carusel"
              (click)="openModalImg(image.src, image.description)"
            >
              <img
                draggable="false"
                class="image-caruse-work"
                [src]="image.src"
                [alt]="image.alt"
              />
              <div class="title-work-image">
                <p class="description-carusel-work">{{ image.description }}</p>
                <img
                  draggable="false"
                  class="img-arrow-footer"
                  src="assets/images/arrow-up-right.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <!-- MODAL ICON IMAGE -->
          <div
            *ngIf="isModalOpen && currentImage && currentImageDescription"
            class="modal-img show"
            (click)="closeModalImg()"
          >
            <div class="modal-content" (click)="$event.stopPropagation()">
              <img draggable="false" [src]="currentImage" alt="Modal Image" />
              <button class="close-btn" (click)="closeModalImg()">
                <img
                  draggable="false"
                  class="close-modal-img"
                  src="../assets/images/x.svg"
                  alt=""
                />
              </button>
            </div>
            <div class="description-link-in-frilance">
              <p class="description-image">{{ currentImageDescription }}</p>
              <a
                href="https://www.behance.net/voronkov-art
                "
                target="_blank"
                class="link-behance-img"
                >watch in behance</a
              >
            </div>
          </div>

          <div class="container-carusel-work-img">
            <div
              *ngFor="let image of images"
              class="item-img-carusel"
              (click)="openModalImg(image.src, image.description)"
            >
              <img
                draggable="false"
                class="image-caruse-work"
                [src]="image.src"
                [alt]="image.alt"
              />
              <div class="title-work-image">
                <p class="description-carusel-work">{{ image.description }}</p>
                <img
                  draggable="false"
                  src="../assets/images/arrow-up-right.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="name-frilancer-footer">voronkov</p>
      <div class="navigation-on-my-site">
        <div>
          <a
            class="navigation-link-footer"
            (click)="scrollToSection('about-me')"
            >dima voronkov</a
          >
        </div>
        <div>
          <a
            class="navigation-link-footer"
            (click)="scrollToSection('my-works')"
            >my works</a
          >
        </div>
        <div>
          <a
            class="navigation-link-footer"
            (click)="scrollToSection('price-work')"
            >about price</a
          >
        </div>
      </div>
      <div class="info-bottom-footer">
        <div class="privacy-policy-info">
          <a class="link-privace-policy" href="#">PRIVACY POLICY</a>
          <p class="all-right-reserved">ALL RIGHTS RESERVED</p>
        </div>
        <div class="footer-block-info-frilancer">
          @if (isMobile()) {
            <p class="social-mobile">social</p>
          }
          <a class="link-frilancer-portfolio" href="#" target="_blank"
            >instagram</a
          >
          <a
            class="link-frilancer-portfolio"
            href="https://www.linkedin.com/in/dmitriy-voronkov-090217169"
            target="_blank"
            >linkedin</a
          >
          <a
            class="link-frilancer-portfolio"
            href="https://www.behance.net/voronkov-art"
            target="_blank"
            >behance</a
          >
          <a class="link-frilancer-portfolio" href="#" target="_blank"
            >telegram</a
          >
          <div class="btn-start-and-to-top">
            <button class="btn-start-footer" (click)="openModal()">
              let's start
              <img
                draggable="false"
                class="img-btn-footer"
                src="../assets/images/arrow-up-right.svg"
                alt=""
              />
            </button>
            <button class="btn-to-top-footer" (click)="scrollToTop()">
              <img
                draggable="false"
                class="img-btn-to-top-footer"
                src="../assets/images/arrow-up.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="modal" [ngClass]="{ 'active-modal': activeModal }">
  <div class="container-modal">
    @if (message) {
      <div class="container-message-success">
        <img
          class="img-success"
          src="../assets/images/tick-success.svg"
          alt=""
        />
        <p class="title-success">Sent successfully!</p>
        <p class="text-success">wait for a letter from me</p>
      </div>
    } @else {
      <div class="form-modal">
        <div class="header-modal-icon">
          <p class="title-modal-icon">lets get startED</p>
          <img
            draggable="false"
            class="img-modal-icon"
            src="../assets/images/x.svg"
            alt="X"
            (click)="closeModal()"
          />
        </div>

        <form class="form-modal-icon" (ngSubmit)="submitForm()" #form="ngForm">
          <div class="email-block-modal-icon">
            <label class="label-email-modal-icon" for="email">Your email</label>
            <input
              class="inp-email-modal-icon"
              type="email"
              name="email"
              id="email"
              [(ngModel)]="email"
              #emailInput="ngModel"
              placeholder="your@gmail.com"
              required
              email
            />
            <div
              *ngIf="emailInput.invalid && emailInput.touched"
              class="error-message"
            >
              Please enter a valid email.
            </div>
          </div>

          <div class="container-selector-modal-icon">
            <label class="label-selector-modal-icon" for="price"
              >Choose pack</label
            >
            <div class="custom-select">
              <select
                class="selector-modal-icon"
                name="price"
                id="price"
                [(ngModel)]="selectedPrice"
                #priceInput="ngModel"
                required
              >
                <option
                  class="option-selector-modal-icon"
                  value=""
                  disabled
                  selected
                >
                  Choose
                </option>
                <option class="option-selector-modal-icon" value="800">
                  PACK 1 (800$)
                </option>
                <option class="option-selector-modal-icon" value="1200">
                  PACK 2 (1200$)
                </option>
                <option class="option-selector-modal-icon" value="1600">
                  PACK 3 (1600$)
                </option>
              </select>
              <img
                src="../assets/images/chevron-down-selector.svg"
                alt="Arrow"
                class="custom-arrow"
              />
            </div>
          </div>
          <button
            class="btn-sub-modal-icon"
            type="submit"
            [disabled]="form.invalid"
          >
            let's start
            <img
              draggable="false"
              src="../assets/images/arrow-up-right.svg"
              alt=""
            />
          </button>
        </form>
      </div>
    }
  </div>
</div>

<div class="modal-mobile" [ngClass]="{ 'active': openModalMobile }">
  <div class="container-modal-mobile">
    <div class="nav-burger-menu">
      <div
        class="link-nav-burger-menu"
        (click)="scrollToSection('illus-solution')"
      >
        feature
      </div>
      <div class="link-nav-burger-menu" (click)="scrollToSection('about-me')">
        about
      </div>
      <div class="link-nav-burger-menu" (click)="scrollToSection('my-works')">
        works
      </div>
      <div class="link-nav-burger-menu" (click)="scrollToSection('price-work')">
        price
      </div>
    </div>
  </div>
  <button (click)="openModal()" class="btn-nav-butger-menu">
    let's start <img src="../assets/images/arrow-up-right.svg" alt="" />
  </button>
</div>
